<div class="car-card" *ngIf="car" (click)="onSelect()">
  <div class="car-image">
    <img [src]="car.image" [alt]="car.brand + ' ' + car.model" class="img-fluid">
    <div class="car-price">
      <span class="currency">$</span>{{ car.price }}<span class="period">/day</span>
    </div>
  </div>
  <div class="car-details">
    <h3 class="car-title">{{ car.brand }} {{ car.model }}</h3>
    <p class="car-year">{{ car.year }}</p>
    
    <div class="car-specs">
      <div class="spec-item">
        <i class="fas fa-users"></i>
        <span>{{ car.specs.seats }} seats</span>
      </div>
      <div class="spec-item">
        <i class="fas fa-cog"></i>
        <span>{{ car.specs.gearbox }}</span>
      </div>
      <div class="spec-item">
        <i class="fas fa-gas-pump"></i>
        <span>{{ car.specs.fuelType }}</span>
      </div>
      <div class="spec-item" *ngIf="car.specs.ac">
        <i class="fas fa-snowflake"></i>
        <span>A/C</span>
      </div>
    </div>

    <div class="car-rating" *ngIf="car.averageRating">
      <i class="fas fa-star"></i>
      <span>{{ car.averageRating | number:'1.1-1' }}</span>
    </div>
    
    <div class="car-actions" *ngIf="showActions">
      <button class="btn btn-outline" (click)="onViewDetails($event)">
        View Details
      </button>
      <button class="btn btn-primary" (click)="onSelect()">
        Select Car
      </button>
    </div>
  </div>
</div>
